/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.form {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  padding-top: 36px;
  padding-bottom: 8px;
}
